body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #282c34;

}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login,
.register {
  width: 400px;
}

.login h2,
.register h2 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.login a {
  text-align: center;
}

input[type='email'] {
  background-color: #e6e6e6;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
  padding: 20px 30px;
  border-radius: 6pt;
}

input[type='password'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
  border-radius: 6pt;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #827ffe;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  border-radius: 6pt;
}

.check {
  font-size: 16px;
}

.primary{
  padding: 15px 0px;
  background-color: #827ffe;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 60%;
  border-radius: 6pt;
  margin-left: 100pt;
  cursor:pointer;

}

.success{
  padding: 15px 0px;
  background-color: #827ffe;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 100pt;
  border: none;
  width: 60%;
  border-radius: 6pt; 
  margin-left: 50;
  cursor:pointer;
}


.primary:hover{
  background-color:blueviolet;
  }
  .success:hover{
  background-color:blueviolet;
  }

h1{
  /* text-decoration-color: aqua;
  color:aqua; */
  font-size: 25pt;
  font-style: bold;
  font-family: Georgia;
  text-align: center;
}

.pic{
  opacity: .70;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
.pic-div{
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

h3{
  color: aquamarine;
  font-weight: lighter;
  opacity: 0.8;
  margin-top: 100pt;
  margin-left: 90pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
  color: rosybrown;
  text-decoration: none;
}

h5{
  color: aquamarine;
  font-weight: lighter;
  opacity: 0.8;
  margin-top: 40pt;
  margin-left: 9pt;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.blinking{
  animation:colorchange 4s infinite alternate;
}
@keyframes colorchange{
  0%{     color:aquamarine;    }
  49%{    color: rosybrown; }
  60%{    color: lightseagreen; }
  99%{    color:coral;  }
  100%{   color:aquamarine;    }
}

.second{
  padding: 15px 0px;
  background-color: #827ffe;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 60%;
  border-radius: 6pt;
  margin-left: 100pt;
  cursor:pointer;

}